# Токен сообщества (Настройки сообщества -> Работа с API -> Ключи доступа)
GROUP_TOKEN=vk1.a.Be9qBJLlpXzYPSd1ipG0N9Q25D9uMiZVsoE-mASjQDgqfX_1RDE_CjlIj_cxZF0YAbiQOfMtsmkG__M2pfKagfMOdMockLZuxEqEnXTZZyDbAmFiYcXRx9xe0vWydtw_-29aMTOuTzoNWwRcaERRbs6AkASjwrtzYVtdx50XnhGeTM2nX6MwEZlpMhswsSwGxhytW8kCKlZhRqq2RP1GHQ

# Через сколько часов после старта опроса слать напоминание не ответившим
REMINDER_HOURS=24

# Как часто (в минутах) бот проверяет, не пора ли слать напоминания
CHECK_INTERVAL_MINUTES=10
